<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div th:if="${error}">
        <p class="error-message" th:text="${error}"></p>
    </div>

    <div class="product-actions-container">

        <!-- Button to add a new product -->
        <button class="secondary-btn" onclick="showProductDialog(true)">Adicionar Produto</button>

        <!-- form to removes products -->
        <form th:action="@{/api/product/delete}" method="post" id="delete-products-form"
            onsubmit="return validateDeleteForm()">
            <input type="hidden" name="productIds" id="product-ids" />
            <button class="secondary-btn" type="submit" id="remove-selected-products">Remover Produto</button>
        </form>
    </div>

    <!-- Dialog to create a new product -->
    <dialog class="new-product-dialog" id="new-product-dialog">
        <div class="wrapper">
            <h2 class="dialog-title">Novo Produto</h2>

            <form class="dialog-form" th:action="@{/api/product}" method="post" th:object="${product}"
                onsubmit="return validateProductForm()">
                <div class="input-wrapper">
                    <div class="input-group">
                        <label for="name">Nome</label>
                        <input type="text" id="name" th:field="*{name}" required>
                    </div>
                    <div class="input-group">
                        <label for="description">Descrição</label>
                        <input type="text" id="description" th:field="*{description}" required>
                    </div>
                    <div class="input-group">
                        <label for="price">Preço</label>
                        <input type="text" id="price" th:field="*{price}" required>
                    </div>
                    <div class="input-group">
                        <label>Disponível para venda</label>
                        <div class="input-group-option">
                            <label for="available">Sim</label>
                            <input type="radio" id="available" th:field="*{available}" value="true" checked="checked" />
                        </div>                        
                        <div class="input-group-option">
                            <label for="not-available">Não</label>
                            <input type="radio" id="not-available" th:field="*{available}" value="false" />
                        </div>
                    </div>
                </div>

                <button class="primary-btn">Criar</button>
                <button class="secondary-btn" onclick="showProductDialog(false)" type="button">Cancelar</button>
            </form>
        </div>
    </dialog>

    <div class="product-list-container">
        <h1 class="hero-title">Produtos Cadastrados</h1>

        <div class="empty-state" th:if="${#lists.isEmpty(products)}">
            <p class="action-suggestion">Clique no botão acima para adicionar o primeiro produto!</p>
        </div>

        <table class="product-table" th:if="${!#lists.isEmpty(products)}">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all" onclick="toggleAll(this)" /></th>
                    <th>Nome</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td>
                        <input type="checkbox" class="product-checkbox" th:value="${product.id}" />
                    </td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${'R$' + product.price}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        // Dialog (Open/Close function) JS
        const dialog = document.getElementById("new-product-dialog");
        const wrapper = document.querySelector(".wrapper");

        const showProductDialog = (show) => show ? dialog.showModal() : dialog.close();
        dialog.addEventListener("click", (e) => !wrapper.contains(e.target) && dialog.close());

        // Checkbox (Check/Uncheck) JS
        const toggleAll = (selectAllCheckbox) => {
            const checkboxes = document.querySelectorAll(".product-checkbox");
            checkboxes.forEach(checkbox => {
                checkbox.checked = selectAllCheckbox.checked;
            });
        };

        const getSelectedProducts = () => {
            const selectedCheckboxes = document.querySelectorAll(".product-checkbox:checked");
            const selectedProductIds = Array.from(selectedCheckboxes).map(checkbox => checkbox.value);
            return selectedProductIds;
        };

        document.getElementById("delete-products-form").addEventListener("submit", function (event) {
            const selectedProductIds = getSelectedProducts();

            if (selectedProductIds.length === 0) {
                alert("Por favor, selecione pelo menos um produto para remover.");
                event.preventDefault();
                return;
            }

            document.getElementById("product-ids").value = selectedProductIds.join(",");
        });

        const validateProductForm = () => {
            const priceField = document.getElementById('price');
            const priceValue = priceField.value;

            if (isNaN(priceValue) || priceValue <= 0) {
                alert("Por favor, insira um valor válido para o preço (número maior que zero).");
                return false;
            }

            const availableRadioButtons = document.querySelectorAll('input[name="available"]:checked');
            if (availableRadioButtons.length === 0) {
                alert("Por favor, selecione se o produto está disponível ou não.");
                return false;
            }

            return true;
        };

        const validateDeleteForm = () => {
            const selectedCheckboxes = document.querySelectorAll(".product-checkbox:checked");

            if (selectedCheckboxes.length === 0) {
                alert("Por favor, selecione pelo menos um produto para remover.");
                return false;
            }
            return true;
        };
    </script>

</body>

</html>